.box {
	width: 200px;
	border: 30px solid red;
	padding: 30px;
	margin: 20px 0px 0px 20px;
	font-size: 20px;
}

.box2 {
	margin: 20px 20px;
	box-sizing: border-box;
	background-color: #007FFF;
	width: 400px;
	padding:50px;
	border: solid 20px black;
}

h2 {
	background-color: red;
}