.box {
	width: 200px;
	border: 30px ridge red;
	padding: 30px;
	margin: 0 auto;
	font-size: 20px;
}

.box2 {
	margin: 20px auto;
	box-sizing: border-box;
	background-color: black;
	width: 400px;
	padding:50px;
	border: ridge 20px gray;
	color: white;
}

h2 {
	background-color: dodgerblue;
	font-size: 49px;
	margin: -50px -50px 20px -50px;
	color: white;
}